body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

 }
 h1{
     color: gray;
     font-size: 40px;
 }
 h2{
    color: gray;
 }

.navbar {
    background-image: linear-gradient(to right, #f56830, #cfbe27);
    position: fixed;
    width: 100%;
    
  

  }
.navbar ul {
   float: right;
  }
  
.navbar ul li {
    display: inline-block;
    margin-right: 50px;
  }
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  .orange-color{
      color: orange;
  }
.container {
    max-width: 1200px;
    margin: auto;
  } 
.flexible-container{
    display: flex;
    margin-bottom: 50px;

}
.half-width{
    width: 50%;
    padding: 50px;
 }
.half-width img{
    width:100%;

 }
 .link-button{
    text-decoration: none;
    font-size: 18px;
    color:white;
    background-image:linear-gradient(orange , tomato );
    padding: 8px 20px;
    font-weight: 50;
    border-radius: 20px;

 }
.border{
    background-image: url(images/shapes/back.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    display: flex;
 }
.about-half-width1{
    width: 50%;
    margin-bottom:-57px;

 }
.about-half-width2{
    width: 50%;
 }
.recipies{
    text-align: center; 
 }
.recipies-container {
  margin:50px;
  display: flex;
}

.recipies-inside {
    width: 30%;
    margin: 2%;
    padding: 1%;
    box-shadow: 10px 10px 20px 5px gray;
    border-radius: 20px;
    padding-bottom: 20px;
    text-align: center;
 }
 
  .recipies-inside img {
    width: 100%;
    border-radius: 30px;
    
 }


.feedbacks{
  text-align: center;
}
.feedbacks-container {
  margin:50px;
  display: flex;
}
.feedbacks-inside {
  margin: 2%;
  padding: 1%;
  box-shadow: 10px 10px 20px 5px gray;
  border-radius: 20px;
  text-align: center;
  
}

.feedbacks-inside img {
  width: 50%;
  border-radius: 30px;
  
}

footer {
  padding: 20px;
  text-align: center;
  background-color: black;
}
footer p {
  color: white;
}