body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
 }
 h1{
     color: gray;
     font-size: 40px;
 }
 h2{
    color: gray;
 }

.navbar {
    margin-bottom: 20px;

  }
.navbar ul {
   text-align: right;
  }
  
.navbar ul li {
    display: inline-block;
    margin-right: 50px;
  }
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  .orange-color{
      color: orange;
  }
.container {
    max-width: 1200px;
    margin: auto;
  } 
.flexible-container{
    display: flex;
    margin-bottom: 50px;

}
.half-width{
    width: 50%;
    padding: 50px;
 }
.half-width img{
    width:100%;

 }
 .link-button{
    text-decoration: none;
    font-size: 18px;
    color:white;
    background-image:linear-gradient(orange , tomato );
    padding: 8px 20px;
    font-weight: 50;
    border-radius: 20px;

 }
.border{
    background-image: url(images/shapes/back.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    display: flex;
 }
.about-half-width1{
    width: 50%;
    margin-bottom:-57px;

 }
.about-half-width2{
    width: 50%;
 }
.recipies{
    text-align: center;

 }
.onethird-width {
    width: 30%;
    margin: 2%;
    box-shadow: 10px 10px 20px 5px gray;
    border-radius: 5px;
  
    padding: 50px;
 }
.onethird-width a {
    text-decoration: none;
 }
  .onethird-width img {
    width: 100%;
 }
  .recipies-image {
    margin-top: 30px;
    display: flex;
 }
